.header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}

.text {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .text {
    font-size: 18px;
  }
}
